@model IEnumerable<KalamYouthForumWebApp.Models.ViewModels.RoleViewModel>

@{
    ViewData["Title"] = "User Role Management";
}

<h1>Role Management</h1>

<p>
    <a asp-action="CreateRole">Create New Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id">List of @(item.RoleName + 's')</a>
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
<div class="container">
    <hr />
    <h3>Role and Management Levels</h3>
    <ul>
        <li>Admin : Full Access : Give to only members who are in the core team.</li>
        <li>Moderator : Limited Admin Access : Admin access without access to this page, Role Administration page.</li>
        <li>PageAdmin : Limited Access : Can create/edit/update/delete projects.</li>
        <li>Chapter : Limited Access : Can create chapters and SHGs, and all manage SHGs under the Chapter.</li>
        <li>SHGUser : Limited Access : Can manage SHG assigned to the user, can add remove SHG Members</li>
        <li>Guest : No Access : Same as public user with an account, all newly created accounts will be in Guest Mode.</li>
    </ul>
</div>