@model IEnumerable<KalamYouthForumWebApp.Models.ViewModels.UserXChapter>

@{
    ViewData["Title"] = "Users and Chapters";
}

<h1>Users and Chapters</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="user-chapter-index">
    <thead>
        <tr>
            <th>
                @Html.Encode("User Email")
            </th>
            <th>
                @Html.Encode("Name")
            </th>
            <th>
                @Html.Encode("Chapter Name")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter.ChapterName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#user-chapter-index').DataTable();
    });
</script>