@model IEnumerable<KalamYouthForumWebApp.Models.ViewModels.ProjectImages>
<h1 style="color:#00667c">Projects</h1>
<div class="container ms-auto me-auto project-list">
    <div class="input-group mb-3 mt-3">
        <input type="text" class="form-control" placeholder="Search for Projects...." aria-label="Search for Projects" aria-describedby="button-addon2" id="search-input">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="searchProjects()">Search</button>
    </div>
    <div class="row">
        @foreach (var projects in Model)
        {
            <div class="col-md-6 mt-4 mb-4">
                <div class="project-card">
                    <h2><a asp-controller="Projects" asp-action="View" asp-route-id="@projects.Project.ProjectIDKey">@projects.Project.Heading</a></h2>
                    <div class="container">
                        <div class="row">
                            @if (projects.RelatedProjectImages.ToList().Count > 0)
                            {
                                <div class="col-6">
                                    <img src="@projects.RelatedProjectImages.ToList()[0].ImageDataURL" width="100%" />
                                </div>
                            }
                            <div class="col-md project-info">
                                <p><a asp-controller="Projects" asp-action="View" asp-route-id="@projects.Project.ProjectIDKey">Read More</a></p>
                                <p>@projects.Project.DateOfPublish.ToString("dd/MM/yyyy")</p>
                                <div>@Html.Raw(projects.Project.Content)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function searchProjects() {
        const searchTerm = document.getElementById("search-input").value;
        console.log(searchTerm);
        let cards = document.getElementsByClassName("project-card");
        for (card of cards) {
            const heading = card.getElementsByTagName("h2")[0].innerText;
            const desc = card.getElementsByClassName("project-info")[0].innerText;
            if (heading.includes(searchTerm) || (desc.includes(searchTerm))) {
                card.style.display = "inline-block";
                if (searchTerm != "") {
                    card.parentElement.classList.add("order-first");
                }
            } else {
                card.style.display = "none";
                card.parentElement.classList.remove("order-first");
            }
        }
    }
</script>
